@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Avenir&display=swap');
/* Navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%; 
    background-color: #243447	;
    font-weight: 700;
    font-family: "Roboto";
    border-radius: 12px;
    text-align: center;
  }
/* Changes the font and colour of body text to desired values. */
body {
    font-family: 'Roboto';
    color: #ffffff	    ; 
    background-color: rgb(21, 32, 43);
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
}
h2 {
    font-family: 'Oswald';
    color: #ffffff	    ;
    font-weight: bold;
    padding-top: 15px;
}
/* Changes the font and colour of body text to desired values. */
.button {
    background-color: rgb(21, 32, 43); /* Dark Backgrouund */
    border: none;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid rgb(29, 161, 242);
    transition-duration: 0.25  s;
    cursor: pointer;
  }
.button:hover { 
    background-color: #5CDB95;
    color: white;
}
.button[value=Delete]:hover{
    background-color: red; /* Red */
}
textarea {
    width: 100%;
    padding: 8px 10px;
    display: block;
    resize: none;
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    background-color: rgb(21, 32, 43);
    border: 1px solid rgb(29, 161, 242);
    color: #f1f1f1;
    margin: 8px 0;
  }
  /* Select option styling */
select {
    width: 100%;
    padding: 9px 10px;
    border: none;
    border: 1px solid rgb(29, 161, 242);
    border-radius: 2px;
    background-color: rgb(21, 32, 43);
    cursor: pointer;
    color: #f1f1f1;
    display: block;
    box-sizing: border-box;
    margin: 8px 0;
  }
/* Input styling */
input {
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-radius: 2px;
    background-color: rgb(21, 32, 43);
    border: 1px solid rgb(29, 161, 242);
    color: #f1f1f1;    
    display: block;
    box-sizing: border-box;
    margin: 8px 0;
}
/* Div container for stacked forms. */
div.container {
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    width: 50%;
}
h1 {
    font-family: "Oswald";
    color: #ffffff	; 
    font-weight: bold; 
    padding-bottom: 10px;
}

header {
    padding-top: 110px;   
    text-align: center;
    font-family: "Julius Sans One";
    color: #ffffff  	    ;
    font-size: 560%;
    font-weight: bold;
}


.active {
border: 2px solid #5383e8; /* Blue */

    }


li  {
    float: left;
    border-right: 0px solid #bbb;
  }


li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 12px;
    transition-duration: 0.25  s;
    text-align: center;
  }
  
/* Changes the link color to blue on hover */
li a:hover {
background-color: #5383e8;
}
/*Styling for captions mostly used for tables.*/
caption {
    font-family: "Oswald";
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
}
/*Table Styling*/
table#create {
    float: center;
    width: 100%;
}
table { 

    border: 0px solid #7289da;
    border-collapse: collapse;
    width: 100%;  
}
th {
    font-family: "Oswald";
    text-align: left;
    background: #1f4068;
    color: white;
    padding: 10px;
    font-size: 135%;

}
td {
    padding: 10px;
    text-align: left;
}
tr {
    text-align: left;
}

tr:nth-child(odd){
    background: #243447	;
}
tr:hover {
    background-color: #5383e8;
}
/*End of Table Styling*/
.w3-blue, .w3-hover-blue:hover {
    color: #ffffff!important;
    background-color: #1f4068	!important;
}
h3 {
    font-weight: bold;
    font-family: "Oswald";
}

  /* Dropdown Button */
.dropbtn {
    width: 100%;
    background-color: rgb(21, 32, 43);
    border: 1px solid rgb(29, 161, 242);
    color: white;
    padding: 10px;
    font-family: "Oswald";
    font-size: 24px;
    font-weight: bold%;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #1f4068;
  }
/* Change color on hover */
#searchName:focus {background-color: #1f4068}
#searchRole:focus {background-color: #1f4068}
#searchRegion:focus {background-color: #1f4068}
#searchClass:focus {background-color: #1f4068}
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    margin: auto;
    width: 50%;
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: rgb(21, 32, 43);
    border: 0px solid rgb(29, 161, 242);
    z-index: 1;
  }
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/*
#41B3A3 - Blue-Green
#5383e8 - OP.GG Blue


*/ 