@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* Navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%; 
    background-color: #5383e8;
    font-family: "Roboto";
  }
/* Changes the font and colour of body text to desired values. */
body {
    font-family: 'Roboto';
    color: #5383e8    ; 
    background-color: white;
    font-weight: 700;
    white-space: nowrap;
    text-align: center;
}
h2 {
    font-family: 'Oswald';
    color: #5383e8    ;
    font-weight: bold;
    padding-top: 15px;
}
/* Button styling */
.button {
    background-color: #5383e8; /* Blue */
    border: none;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid #1f4068;
    transition-duration: 0.25  s;
    cursor: pointer;
  }
.button:hover { 
    background-color: #5CDB95; /* OP.GG Blue */
    color: white;
}
.button[value=Delete]:hover{
    background-color: red; /* Red */
}
textarea {
    width: 100%;
    padding: 8px 10px;
    display: block;
    resize: none;
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    background-color: #5383e8;
    border: 1px solid #1f4068;
    color: #f1f1f1;
    margin: 8px 0;
  }
/* Select option styling */
select {
    width: 100%;
    padding: 9px 10px;
    border: none;
    border: 1px solid #1f4068;
    border-radius: 2px;
    background-color: #5383e8;  
    cursor: pointer;
    color: #f1f1f1;
    display: block;
    box-sizing: border-box;
    margin: 8px 0;
  }

/* Input styling */

input {
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-radius: 2px;
    background-color: #5383e8;
    border: 1px solid #1f4068;
    color: #f1f1f1;    
    display: block;
    box-sizing: border-box;
    margin: 8px 0;
}
/* Div container for stacked forms. */
div.container {
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    width: 50%;
}
/* placeholder text for input forms */
::placeholder {
    color: white;
    opacity: 1;
}

h1 {
    font-family: "Oswald";
    color: #5383e8; 
    font-weight: bold; 
    padding-bottom: 10px;
}
/* LEAGUE CHAMPIONS DB styling */
header {
    padding-top: 110px;   
    text-align: center;
    font-family: "Julius Sans One";
    color: #5383e8    ;
    font-size: 560%;
    font-weight: bold;
}
/* Highlights the page you're on in the navbar. */
.active {
border: 2px solid #5CDB95;
}


li  {
    float: left;
    border-right: 0px solid #bbb;
  }


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 12px;
  }
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
background-color: #5CDB95;
}
caption {
    font-family: "Oswald";
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
}

table#create {
    float: center;
    width: 100%;
}
table { 

    border: 0px solid #5383e8;
    border-collapse: collapse;
    width: 100%;  
}
th {
    font-family: "Oswald";
    text-align: left;
    background: #5383e8;
    color: white;
    padding: 10px;
    font-size: 135%;

}
td {
    padding: 10px;
}

tr {
    text-align: left;
}

tr:nth-child(odd){
    background: #f2f2f2;
}
tr:hover {background-color: #5CDB95;}
.w3-blue, .w3-hover-blue:hover {
    color: #fff!important;
    background-color: #5383e8!important;
}
h3 {
    font-weight: bold;
    font-family: "Oswald";
}

/*
#41B3A3 - Blue-Green
#195190FF - Turkish Sea Blue
#C38D9E - Purple-Pink
#E8A87C - Subtle Orange
#05386B - Imperial Blue
#5CDB95 - Emerald Green
#379683 - Dark Emerald Green
#FC766AFF - Living Coral
#5B84B1FF - Pacific Coast
#FFFFFFFF - White
#000000ff - Black
#2D2926FF - Grey Black
#7851a9 - Kelso Hoodie Purple
#5383e8 - OP.GG Blue


rgb(55, 55, 55) - old background
*/ 