<!DOCTYPE html>
<html>
<head>
      <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=El+Messiri&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/static/styles.css">
      <title>League Champions Database</title>
      <header>League Champions CRUD</header>
      <subhead>by Stephen Huang</subhead>
    </head>
<body>

    <h2>Add Name - Role - Region - Class</h2>
    <form method="POST" action="/">
      <input type="text" name="name">
      <select name="role">
        <option value="Top">Top</option>
        <option value="Jungle">Jungle</option>
        <option value="Mid">Mid</option>
        <option value="ADC">ADC</option>
        <option value="Support">Support</option>
      /<select>
      <select name="region">
        <option value="Shurima">Shurima</option>
        <option value="Demacia">Demacia</option>
        <option value="Noxus">Noxus</option>
        <option value="Ionia">Ionia</option>
        <option value="Piltover">Piltover</option>
        <option value="Bilgewater">Bilgewater</option>
        <option value="Shadow Isles">Shadow Isles</option>
        <option value="Freljord">Freljord</option>
        <option value="Mount Targon">Mount Targon</option>
        <option value="Zaun">Zaun</option>
        <option value="The Void">The Void</option>
        <option value="Bandle City">Bandle City</option>
        <option value="Independent">Independent</option>
      /<select>
      <select name="class">
        <option value="Fighter">Fighter</option>
        <option value="Assassin">Assassin</option>
        <option value="Juggernaut">Juggernaut</option>
        <option value="Control Mage">Control Mage</option>
        <option value="Burst Mage">Burst Mage</option>
        <option value="Battlemage">Battlemage</option>
        <option value="Marksman">Marksman</option>
        <option value="Tank">Tank</option>
        <option value="Support">Support</option>
      /<select>
      <input type="submit" value="Add">
    </form>

    <h1>Champion | Role | Region | Class</h1>
    <table>
      {% for champion in champions %}
        <tr>
          <td>
            {{champion.name}}
          </td>
          <td>
            <form method="POST" action="./update" style="display: inline">
              <input type="hidden" value="{{champion.name}}" name="oldtitle">
              <input type="text" value="{{champion.name}}" name="newtitle">
              <input type="submit" value="Update">
            </form>
          </td>
          <td>
        <td>
          {{champion.role}}
        </td>
        <td>
          <form method="POST" action="./updaterole" style="display: inline">
            <input type="hidden" value="{{champion.role}}" name="oldrole">
            <select value={{champion.role}} name="newrole">
              <option value="Top">Top</option>
              <option value="Jungle">Jungle</option>
              <option value="Mid">Mid</option>
              <option value="ADC">ADC</option>
              <option value="Support">Support</option>
            /<select>
            <input type="submit" value="Update">
          </form>
            <form method="POST" action="./delete" style="display: inline">
              <input type="hidden" value="{{champion.name}}" name="name">
            </form>
          </td>
          <td>
        {{champion.region}}
        </td>
        <td>
          <form method="POST" action="./updateregion" style="display: inline">
            <input type="hidden" value="{{champion.region}}" name="oldregion">
            <select value="{{champion.region}}" name="newregion">
              <option value="Shurima">Shurima</option>
              <option value="Demacia">Demacia</option>
              <option value="Noxus">Noxus</option>
              <option value="Ionia">Ionia</option>
              <option value="Piltover">Piltover</option>
              <option value="Bilgewater">Bilgewater</option>
              <option value="Shadow Isles">Shadow Isles</option>
              <option value="Freljord">Freljord</option>
              <option value="Mount Targon">Mount Targon</option>
              <option value="Zaun">Zaun</option>
              <option value="The Void">The Void</option>
              <option value="Bandle City">Bandle City</option>
              <option value="Independent">Independent</option>
            /<select>
            <input type="submit" value="Update">
          </form>
          </td>
          <td>
          {{champion.champ_class}}
          </td>
          <td>
          <form method="POST" action="./updatechamp_class" style="display: inline">
            <input type="hidden" value="{{champion.champ_class}}" name="oldchamp_class">
            <select value="{{champion.champ_class}}" name="newchamp_class">
              <option value="Fighter">Fighter</option>
              <option value="Assassin">Assassin</option>
              <option value="Juggernaut">Juggernaut</option>
              <option value="Control Mage">Control Mage</option>
              <option value="Burst Mage">Burst Mage</option>
              <option value="Battlemage">Battlemage</option>
              <option value="Marksman">Marksman</option>
              <option value="Tank">Tank</option>
              <option value="Support">Support</option>
            /<select>
            <input type="submit" value="Update">
          </form>
          </td>
          <td>
            <form method="POST" action="./delete" style="display: inline">
              <input type="hidden" value="{{champion.name}}" name="name">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>