@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto';
    color: #5B84BF    ; 
    background-color:#FFFFFFFF;
    padding: 85px;
    font-weight: bold;
    position: absolute;
    white-space: nowrap;
}
h2 {
    font-family: 'Roboto';
    color: #5B84BF    ;
    font-weight: bold;
}

h1 {
    font-family: "Roboto";
    color: #5B84B1FF;
    word-spacing: 135px;   
    font-weight: bold; 
}

header {
    font-family: "Roboto";
    color: #5B84B1FF    ;
    font-size: 350%;
    font-weight: bold;
}

caption {
    font-weight: bold;
    font-size: 20px;
}

table, th {
    border: 1px solid #5B84BF;
    border-collapse: collapse;
}
th {
    text-align: left;
    padding-left: 10px;
}
td {
    padding: 10px;
}


tr:nth-child(even){
    background: rgba(230, 227, 227, 0.507)
}
tr:hover {background-color: #5CDB95;}

/*
#41B3A3 - Blue-Green
195190FF - Turkish Sea Blue
#C38D9E - Purple-Pink
#E8A87C - Subtle Orange

#05386B - Imperial Blue
#5CDB95 - Emerald Green
#379683 - Dark Emerald Green


#FC766AFF - Living Coral
#5B84B1FF - Pacific Coast
#FFFFFFFF - White
#000000ff - Black
2D2926FF - Grey Black

rgb(55, 55, 55) - old background
*/ 