<!DOCTYPE html>
<html>
  <ul>
    <li><a href="/darkhome">Home</a></li>
    <li><a href="/darkedit">Editor</a></li>
    <li><a class="active" href="/darkforums">Feedback</a></li>
    <li><a href="/forums">Light Mode</a></li>
    <li style="float:right"><a class="active">Dark Mode</a></li>
  </ul>
<head>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
      <link rel="stylesheet" href="/static/darkmode.css">
      <title>League Champions Database</title>
      <header>Champion DB Reviews</header>   
      <subhead>by Stephen Huang</subhead>
    </head>

<body>
    <div class="w3-panel w3-display-container w3-blue">
        <span onclick="this.parentElement.style.display='none' "class="w3-button w3-display-topright">&times;</span>  
        <h3>REVIEW</h3>
        <p>This page allows you to make reviews and give feedback.</p>
      </div> 
  <h2>CREATE POST</h2>
  <div>
  <form method="POST" action="/darkforums" autocomplete="off">
    <label for="title">Title: </label>
    <input type="text" id="title" name="title" maxlength="20">

    <label for="content">Content: </label>
    <textarea id="content" name="content" rows ="4" cols="50">
    </textarea>
    
    <label for="rating">Rate The Website</label>
    <select name="rating" id="rating">
      <option value="" disabled selected>Select rating</option>
      <option value="10/10">10/10</option>
      <option value="10/10" disabled>9/10</option>
      <option value="10/10" disabled>8/10</option>
      <option value="10/10" disabled>7/10</option>
      <option value="10/10" disabled>6/10</option>
      <option value="10/10" disabled>5/10</option>
      <option value="10/10" disabled>4/10</option>
      <option value="10/10" disabled>3/10</option>
      <option value="10/10" disabled>2/10</option>
      <option value="10/10" disabled>1/10</option>
    </select>
    
    <label for="op">Your name: </label>
    <input type="text" id="op" name="op" maxlength="20">
    <input type="submit" class="button" value="Submit Post">
  </form>
  </div>
    <table> 
      <caption>All posts</caption>
          <tr>
            <th colspan = 1>Title</th>
            <th colspan = 1>Post</th>
            <th colspan = 1>Rating</th>
            <th colspan = 2>Original Poster</th>
          </tr>
      {% for post in posts %}
        <tr>
          <td>
            {{post.title}}
          </td>  
          <td>
            {{post.content}}
          </td>
          <td>
            {{post.rating}}
          </td>
          <td>
            {{post.op}}
          </td>
          <td>
            <form method="POST" action="./deletepostdarkmode" style="display: inline">
              <input type="hidden" value="{{post.title}}" name="title">
              <input type="submit" class="button" value="Delete">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>