<!DOCTYPE html>
<html>
  <ul>
    <li><a class="active" href="/darkhome">Home</a></li>
    <li><a href="/darkedit">Editor</a></li>
    <li><a href="/darkforums">Feedback</a></li>
    <li><a href="/home">Light Mode</a></li>
    <li style="float:right"><a class="active" href="/darkhome">Dark Mode</a></li>
  </ul>
<head>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="/static/darkmode.css">
      <title>League Champions Database</title>
      <header>League Champions DB</header>
      <subhead>by Stephen Huang</subhead>
    </head>

<body>
  <div class="w3-panel w3-display-container w3-blue">
    <span onclick="this.parentElement.style.display='none' "class="w3-button w3-display-topright">&times;</span>  
    <h3>WELCOME</h3>
    <p>This page allows you to view the database.</p>
  </div> 
    <table> 
      <caption>All Champions as of Season 10</caption>
          <tr>
            <th colspan = 1>Name</th>
            <th colspan = 1>Role</th>
            <th colspan = 1>Region</th>
            <th colspan = 1>Class</th>
          </tr>
      {% for champion in champions %}
        <tr>  
          <td>
            {{champion.name}}
          </td>
          <td>
            {{champion.role}}
          </td>
          <td>
            {{champion.region}}
          </td>
          <td>
            {{champion.champ_class}}
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>