<!DOCTYPE html>
<html>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/edit">Editor</a></li>
    <li><a class="active" href="/forums">Forums</a></li>
    <li><a href="#">Link 3</a></li>
  </ul>
<head>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="/static/styles.css">
      <title>League Champions Database</title>
      <header>Champion DB Forums</header>   
      <subhead>by Stephen Huang</subhead>
    </head>

<body>
  <h2>CREATE POST</h2>
  <form method="POST" action="/forums">
    <label for="title">Title: </label>
    <input type="text" id="title" name="title">
    <label for="content">Content: </label>
    <input type="text" id="content" name="content">
    <label for="op">Your name: </label>
    <input type="text" id="op" name="op">
    <input type="submit" value="Submit Post">
  </form>
    <table> 
      <caption>All posts</caption>
          <tr>
            <th colspan = 1>Title</th>
            <th colspan = 1>Post</th>
            <th colspan = 2>Original Poster</th>
          </tr>
      {% for post in posts %}
        <tr>
          <td>
            {{post.title}}
          </td>  
          <td>
            {{post.content}}
          </td>
          <td>
            {{post.op}}
          </td>
          <td>
            <form method="POST" action="./deletepost" style="display: inline">
              <input type="hidden" value="{{post.title}}" name="title">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>