<!DOCTYPE html>
<html>
<head>
      <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="/static/styles.css">
      <title>League Champions Database</title>
    </head>

<body>
  <ul>
    <li><a class="active" href="/home">Home</a></li>
    <li><a href="/edit">Editor</a></li>
    <li><a href="/forums">Feedback</a></li>
    <li style="float:right"><a href="/darkhome">Toggle Dark Mode</a></li>
  </ul>
  <div class="titlesection">
    <header>League Champions DB</header>
    <subhead>by Stephen Huang</subhead>
  </div>
  <div class="w3-panel w3-display-container w3-blue">
    <span onclick="this.parentElement.style.display='none' "class="w3-button w3-display-topright">&times;</span>  
    <h3>WELCOME</h3>
    <p>This page allows you to view the database. New Feature: DARK MODE</p>
  </div> 
    <table id="champions"> 
      <caption>All Champions as of Season 10</caption>
      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">SEARCH DATABASE</button>
        <div id="myDropdown" class="dropdown-content">
        <input style="width:100%"type="text" id="searchName" onkeyup="searchName()" placeholder="Search for names...">
        <input style="width:100%"type="text" id="searchRole" onkeyup="searchRole()" placeholder="Search for roles...">  
        <input style="width:100%"type="text" id="searchRegion" onkeyup="searchRegion()" placeholder="Search for regions...">  
        <input style="width:100%"type="text" id="searchClass" onkeyup="searchClass()" placeholder="Search for classes...">  
        </div>
      </div>
          <tr>
            <th colspan = 1>Name</th>
            <th colspan = 1>Role</th>
            <th colspan = 1>Region</th>
            <th colspan = 1>Class</th>
          </tr>
      {% for champion in champions %}
        <tr>  
          <td>
            {{champion.name}}
          </td>
          <td>
            {{champion.role}}
          </td>
          <td>
            {{champion.region}}
          </td>
          <td>
            {{champion.champ_class}}
          </td>
        </tr>
      {% endfor %}
    </table>
    <script>
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }
    </script>
    <script>
      function searchName() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchName");
        filter = input.value.toUpperCase();
        table = document.getElementById("champions");
        tr = table.getElementsByTagName("tr");
      
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
      </script>
      <script>
        function searchRole() {
          // Declare variables
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("searchRole");
          filter = input.value.toUpperCase();
          table = document.getElementById("champions");
          tr = table.getElementsByTagName("tr");
        
          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
        </script>
          <script>
    function searchRegion() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("searchRegion");
      filter = input.value.toUpperCase();
      table = document.getElementById("champions");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[2];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>
  <script>
    function searchClass() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("searchClass");
      filter = input.value.toUpperCase();
      table = document.getElementById("champions");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[3];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>
  </body>
</html>